$base-c:#00AE66;
$ft-basec:#555;
$base-act:#00897b;
$base-act-l:#b2dfdb;
$base-act-d:#00796b;
@mixin bl-1px($cl, $height:90%) {
  position: relative;
  &:before {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    content: '';
    width: 1px;
    height: $height;
    margin-top: -($height/2);
    border-left: 1px solid $cl;
    transform: scaleY(.5);
    -webkit-transform: scaleY(.5);
  }
}
@mixin no-border() {
  &:before,
  &:after{
    display:none;
  }
}

